

.prescription-header {
    background-color: white;
    border-radius: 0.6em;
}

.addPrescription {
    background-color: #E7A6AF !important;
    border-color: #E7A6AF !important;
    margin-left: 20px;
    margin-top: -15px;
}

.delete-prescription  {
    background-color: #F6C254 !important;
    border-color: #F6C254 !important;
    border-radius: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    color: white !important;
    width: 90px;
    height: 40px;
    padding-right: 10px;
    align-content: center;
}

.fa-trash-alt{
    color: white;
    margin-right: 4px;
}

.fa-edit {
    color: white;
    margin-right: 4px;
}

.edit-prescription {
    background-color: #6792EF !important;
    border-color: #6792EF!important;
    border-radius: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    color: white !important;
    width: 90px;
    height: 40px;
    margin-left: 18px;
    padding-right: 10px;
    align-content: center;
}

.prescriptionHeader{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #6792EF !important;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
}

.prescriptionDetailsText{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #21AABC !important;
    margin-left: 20px;
}

.detailsCardImage {
    display: flex;
    flex-direction: row;
}

.prescriptionIcon {
    background-color: yellow;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 10px;
}

.fa-prescription-bottle-alt{
    color: white;
    margin-left: 27px;
    margin-top: 20px;
}

#grad {
    background-image: linear-gradient(to bottom,#E7A6AF,#F6C254);
  }

  .prescriptionCardOutput{
      display: flex;
      flex-direction: column;
  }

  .prescriptionCardButtons {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: 10px;
  }

 .prescriptions-container{
     background-color: white;
 }

 .prescription-card {
     background-color: white;
     overflow-x: scroll;
 }

 .card-content {
    overflow-x: scroll;
 }