@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:600&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* FONTS */

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

p {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 14px; */

}
.mainBody {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.health-prescriptions {
display: flex;
flex-direction: row;
}

.appointments-container {
    background-color: red;
}

.healthProfile-container {
    background-color: yellow;
}
