@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:600&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

/* FONTS */

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #21AABC;
    padding-top: 20px;
    padding-left:20px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

p {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 14px; */

}
.mainBody {
    background-color: #fdf0f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.health-prescriptions {
display: flex;
flex-direction: row;
width: 111%;
}

.rightSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 28%;

}

.appointments-container {
    background-color: white;
    border-radius: 0.6em;
    margin-left: 1em;
    margin-top: 0.8em;
    margin-right: 0.6em;
    width: 101%;
    margin-bottom: 0.8em;
}

.healthProfile-container {
    background-color: white;
    border-radius: 0.6em;
    margin-left: 1em;
    margin-left: 1em;
    width: 50%;
}

.prescriptions-container {
    background-color: white;
    border-radius: 0.6em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    width: 70%;
}

#grad {
    background-image: linear-gradient(to bottom,#E7A6AF,#F6C254);
  }

.welcome {
background-color: #F6C254;
margin-top: 0.8em;
/* margin-right: 0.6em; */
margin-bottom: 1em;
border-radius: 0.6em;
margin-left: 1em;
height: 230px;
display: flex;
flex-direction: row;
width: 109%
}

.recommendations-container  {
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
border-radius: 0.6em;
}

.yourProfile-container {
    border-radius: 0.6em;
    background-color: white;
    margin-top: 0.8em;
    margin-right: 1em;
}

.dashboardWelcome  {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: white !important; 
    padding-left: 20px;
    padding-top: 50px;
}

.ellaWelcome {
    width: 400px;
    padding-top: 34px;
    margin-right: 90px;
}