.your-profile-card {
    background-color:white;
    border-radius: 0.3em;
}

.yourProfile-header{
    background-color:white;
    border-radius: 0.3em;
    margin-left: 0.6em;
}

.ellaProfileImg  {
    width: 220px;
    /* padding-left: 130px; */
}

.yourProfileHeaderText {
    text-align: center;
}

.profileName{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #E7A6AF;
    text-align: center;
    text-transform: capitalize;
}

.profileHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #6792EF;
    text-transform: capitalize;
    text-align: center;
}
.profileInfo  {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #6792EF;
    text-align: center;
}

.addPharmacy{
    background-color: #E7A6AF !important;
    border-color: #E7A6AF !important;
    margin-left: 20px;
    margin-bottom: 20px;
    /* margin-top: -15px; */
}
.edit-pharmacy {
    background-color: #6792EF !important;
    border-color: #6792EF!important;
    border-radius: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    color: white !important;
    width: 90px;
    height: 40px;
    margin-left: 14px;
    padding-right: 1px;
    align-content: center;
    margin-right: 12px;
    margin-top: 14px;
}

.yourProfileImage {
    display: flex;
    justify-content: center;
}

.headerTextProfile  {
    display: flex;
    justify-content: center;
}

.profileButtonsContainer{
    display: flex;
    justify-content: center;
}

.profileLine {
    border-top: 4px solid #6792EF;
    width: 100%;
}