.health-profile-card {
    background-color:white;
    border-radius: 0.3em;
}

.healthProfileHeader {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #21AABC !important;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 20px;
}

.healthProfileInfo  {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #21AABC !important;
    margin-left: 20px;
}

.healthProfileHeaderUpdate {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #21AABC !important;
    font-style: italic;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 7px;
}

.addHealthProfile {
    background-color: #E7A6AF !important;
    border-color: #E7A6AF !important;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -15px;
}

.edit-healthProfile{
    background-color: #6792EF !important;
    border-color: #6792EF!important;
    border-radius: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    color: white !important;
    width: 90px;
    height: 40px;
    margin-left: 14px;
    padding-right: 1px;
    align-content: center;
    margin-right: 12px;
    margin-top: 14px;
}

.fa-edit {
    color: white;
    margin-right: 3px;
}

.editHealth {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #21AABC !important;
}

.modal-footer {
    border-top: 3px solid #21AABC !important;
}

.modal-header {
    border-bottom: 3px solid #21AABC !important;
}

.btn-primary-health {
    background-color: #21AABC !important;
    border-color: #21AABC !important;
}

.cancel-health  {
    background-color: #21AABC !important;
    border-color: #21AABC !important;
    width: 50px;
    height: 30px;
}

.editHealthProfileModalHeader {
    height: 240px;
    margin-left: 50px;
}

/* .editHealthProfileModalHeader {
    font-family: 'Poppins', sans-serif;
    font-size: 40px !important;
    text-align: center;
    margin-bottom: 10px;
} */