.logo {
    width: 250px;
    padding-bottom: 30px;
    margin-left: 10px;
    padding-top: 20px;
}

.logOut {
    background-color: #21AABC !important;
    border-color: #21AABC !important;
    width: 150px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px !important;
}
.fa-sign-out-alt{
    padding-right: 10px;
}

.logoimg{
    /* background-color: #fdf0f2; */
    width: 70%;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 0px !important;

}

.logoImgNav {
   background-color: #fdf0f2; 
   width: 75%;
}